<div class="row">
    <div class="col-md-6">
      <h2>Order Details</h2>
      <form [formGroup]="order" (ngSubmit)="onSubmit()">

        <div class="form-group">
          <label>Number</label>
          <input type="text"
                 class="form-control"
                 formControlName="number">
        </div>
        <div class="form-group">
          <label>Date Required</label>
          <input type="text"
                 class="form-control"
                 id="datepicker"
                 formControlName="dateRequired">
        </div>

        <div class="form-group">
          <label>Description</label>
          <textarea type="text"
                 class="form-control"
                 formControlName="description"></textarea>
        </div>

        <button class="btn btn-primary" type="submit">Submit</button>
      </form>
    </div>
    
  </div> 
